.encabezado{
    background-color: #c66000;
    font-size: large;
    padding: 30px;
    text-align: center;
    height: 50px;
    a{
        text-decoration: none;
        color: #fff;
        padding: 1rem;
        &:hover{
            text-decoration: underline;
        }
    }
    button{
        height: 30px;
        font-weight: bold;
        &:hover{
            scale: 1.1;
        }
    }
}
#categorias-nav{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    border-bottom: #f4d8b9 3px solid;
    button{
        width: 200px;
        border-radius: 10px;
        margin: 1rem;
        padding: 1rem;
        background-color: #f4d8b9;
        font-weight: bold;
        &:hover{
            scale: 1.1;
        }
    }
}

#productos{
    margin: 3rem;
    .casilla-producto{
        list-style: none;
        margin: 0 auto;
        margin-bottom: 1rem;
        height: 400px;
        width: 300px;
        padding: 3rem;
        border: #c66000 3px solid;
        border-radius: 10px;
        background-color: #fff;
        //añado transicion cuando el cursor pasa por encima
        transition: transform 0.4s;
        &:hover{
            transform: scale(1.04);
        }
        //Limito el tamaño de las imagenes
        img{
            max-width: 150px;
        }
        .anadir-carrito{
            background-color: #c66000;
            color: #fff;
            padding: 0.4rem;
            border-radius: 5px;
            transition: transform 0.3s;
            &:hover{
                background-color: #f4d8b9;
                color: #000;
            }
            &:active{
                transform: scale(0.8);
            }
        }
        .like-pulsado{
            background-color: greenyellow;
        }
        .dislike-pulsado{
            background-color: red;
        }

    }
    .detalles-producto{
        border: #c66000 3px solid;
        border-radius: 10px;
        padding: 3rem;
        img{
            max-width: 300px;
        }
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    input{
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: #c66000 2px solid;
    }
    button{
        background-color: #c66000;
        color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: medium;
    }
}
p {
    text-align: center;
a{
    margin: 0 auto;
    color: #c66000;
    text-decoration: none;
    font-size: larger;
    &:hover{
        text-decoration: underline;
    }
}
}
h1{
    text-align: center;
}

.fav{
    background-color: rgb(255, 105, 130);

}